@if (collectorId$ | async; as collectorId) {
  <div class="collector-delete-card-type">
    <form [formGroup]="formGroup" (submit)="deleteCardTypeRequest(collectorId)">
      <cc-card-type-selector formControlName="type" [collectorId]="collectorId" [cardState]="CardState.Created"></cc-card-type-selector>
      <div class="create">
        @if ((error$ | async); as error) {
          <div class="error">
            @if (error != null) {
              <mat-error>{{error}}</mat-error>
            }
          </div>
        }
        <button matButton="outlined" type="submit" [disabled]="!formGroup.valid">Create</button>
      </div>
    </form>
  </div>
}
