@import '../../../../../../screen.scss';

.collector-delete-card-type {
	display: flex;
  padding: 30px;

  @media (min-width: $breakpoint-md) {
    height: 50vh;
  }

	form {
		display: flex;
		flex: 1;
		flex-direction: column;

    gap: 20px;

    // @media (max-width: $breakpoint-md) {
    //   gap: 50px;
    // }

		.create {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: auto;

      gap: 20px;

      @media (max-width: $breakpoint-md) {
        gap: 35px;
      }

			button {
        width: 100%;

        min-height: 45px;
        font-size: 17px;
			}
		}
	}
}
