.image-circle-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-circle {
  width: 100%;
  height: 100%;
  display: block;
}

.edit-button {
  position: absolute;
  left: 87%;
  top: 87%;
  transform: translate(-50%, -50%);
}
