<ng-container *ngVar="(card$ | async) as c">
  <div class="card" [style.cursor]="click === 'none' ? 'unset' : 'pointer'" (click)="onClick(c)" [style.filter]="suggestion === true ? 'grayscale(70%)' : 'none'">
    <div class="card-container">
      <div class="card-inner">
        <ng-container *ngVar="getCardEffectImage(c) as cardEffectImage">
          @if (cardEffectImage != null) {
            <img class="card-effect" [src]="cardImage" alt="Card Effect"/>
          }
        </ng-container>
        <ng-container *ngVar="getCardImage(c) as cardImage">
          @if (cardImage != null) {
            <img [src]="cardImage" alt="Card Image"/>
          }
          @if (cardImage == null) {
            <div class="card-not-found">Card not found</div>
          }
        </ng-container>
      </div>
      <div class="card-frame">
        <ng-container *ngVar="getCardLevel(c) as level">
          @if (level != null) {
            <div class="level">{{level}}</div>
          }
        </ng-container>
        <ng-container *ngVar="getCardQuality(c) as quality">
          @if (quality != null) {
            <div class="quality">{{quality}}</div>
          }
        </ng-container>
        <span class="card-name card-text">{{getCardName(c)}}</span>
        <span class="card-type-name card-text">{{getCardTypeName(c)}}</span>

        <img class="frame-front" [src]="getCardFrameFront(c)" alt="Card Frame Front" />
        <img class="frame-back" [src]="getCardFrameBack(c)" alt="Card Frame Back" />
      </div>
    </div>
  </div>
</ng-container>
