.user {
	display: flex;
	flex-direction: row;
	gap: 30px;
	padding: 20px;
	cursor: pointer;

	.user-image {
		width: 100px;
		height: 100px;
	}

  .friend-status {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 30px;

    button {
      transform: scale(1.7);
    }
    .sent {
      margin-right: 20px;
      transform: scale(1.6);
    }
  }
}
