//https://themes.angular-material.dev/colors
@use '@angular/material' as mat;
@use './palette' as palettes;

$my-primary: mat.m2-define-palette(palettes.$m2-primary);
$my-accent: mat.m2-define-palette(palettes.$m2-accent, A200, A100, A400);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.m2-define-palette(palettes.$m2-error);

$my-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
    typography: mat.m2-define-typography-config(),
    density: 0,
  )
);

$my-dark-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
  )
);

@include mat.elevation-classes();
@include mat.app-background();

@include mat.all-component-themes($my-theme);

.dark {
  @include mat.all-component-colors($my-dark-theme);
}
