@import "../../../../theme.scss";

.user {
	cursor: pointer;
	display: flex;
	height: 100%;
	flex-direction: row;
	align-items: center;
	gap: 5px;

	cc-profile-image {
    margin-top: 1px; //TODO: idk, just seems to center
		cursor: pointer;
		display: block;
		aspect-ratio : 1 / 1;
		height: 100%;
	}

	p {
		//color: map-get(map-get($theme, foreground), text);
		padding: 0;
		margin: 0;
	}
}
