services: 
  mysql:
    image: mariadb:latest
    environment:
      MYSQL_DATABASE: waifucollector
      # this mysql database should only be exposed to the other services
      MYSQL_ROOT_PASSWORD: waifu
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./mysql:/var/lib/mysql
    networks:
      - caddy_net
    restart: unless-stopped

  caddy:
    build: caddy/
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    environment:
      - CLOUDFLARE_API_TOKEN=${CLOUDFLARE_API_TOKEN}
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - caddy_net

  server:
    build: server/
    restart: unless-stopped
    expose:
      - "8080"
    depends_on:
      - mysql
    networks:
      - caddy_net
    volumes:
      - ./server/static:/server/static
      - ./server/media:/server/media

  client:
    build: client/
    restart: unless-stopped
    expose:
      - "80"
    depends_on:
      - server
    networks:
      - caddy_net

networks:
  caddy_net:
    external: true

volumes:
  caddy_data:
  caddy_config:
