@if ((collectorId$ | async); as collectorId) {
  <div class="moderator-editor-wrapper">
    @if (config$ | async; as config) {
      <div class="header">
        <div class="info">
          <p class="title">Moderators</p>
          @if ((moderators$ | async); as moderators) {
            <p class="config">{{moderators.length}}/{{config.moderatorLimit}}</p>
          }
        </div>
        @if (isOwner$ | async) {
          @if ((moderators$ | async); as moderators) {
            <button mat-icon-button matTooltip="Add Moderator" (click)="addModerator(collectorId, moderators)" [disabled]="moderators.length >= config.moderatorLimit">
              <mat-icon color="accent" svgIcon="person_add"></mat-icon>
            </button>
          }
        }
      </div>
      @if (!(moderators$ | async)) {
        <div class="loading">
          <cc-loading [observable]="moderators$"></cc-loading>
        </div>
      }
      @if (moderators$ | async; as moderators) {
        @if (moderators.length > 0) {
          <div class="list">
            @for (mod of moderators; track mod.id) {
              <cc-user-card [user]="mod">
                @if (isOwner$ | async) {
                  <div class="remove-moderator">
                    <button mat-icon-button matTooltip="Remove Moderator" (click)="removeModerator(collectorId, mod)">
                      <mat-icon color="accent" svgIcon="close"></mat-icon>
                    </button>
                  </div>
                }
              </cc-user-card>
            }
          </div>
        } @else {
          <div class="empty">
            <div class="empty-content">
              <mat-icon color="accent" svgIcon="group_off"></mat-icon>
              <p>No moderators yet</p>
            </div>
          </div>
        }
      }
    }
  </div>
}
