<div *ngVar="(cardIndexResponse$ | async) as cardIndexResponse" class="catalog">
  @if (cardIndexResponse != null) {
    <form [formGroup]="formGroup" class="options">
      <mat-form-field>
        <input matInput type="text" formControlName="search" placeholder="Search" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Sort Type</mat-label>
        <mat-select formControlName="sortType">
          @for (sortType of sortTypes; track sortType) {
            <mat-option [value]="sortType.value">
              {{sortType.text}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </form>
    <cc-loading [observable]="loading$"></cc-loading>
    <div class="cards">
      @for (card of cardIndexResponse.cards; track card) {
        <cc-card [card]="card" click="none"></cc-card>
      }
    </div>
    <mat-paginator [length]="cardIndexResponse.cardCount" [pageSize]="cardIndexResponse.pageSize" (page)="changePage($event)"></mat-paginator>
  }
</div>
