@import "../../../../screen.scss";

.verify-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
  height: calc(100vh - var(--header-height) * 2);
  justify-content: center;
	width: 100%;

	.verify {
		display: flex;
    align-items: center;
		flex-direction: column;

		width: 400px;

		@media (max-width: $breakpoint-md) {
      width: 300px;
		}

		@media (max-width: $breakpoint-sm) {
      width: 250px;
		}

		gap: 30px;
		padding: 30px;

    p {
      text-align: center;
      margin-top: 0;
    }
	}
}
