@import "../../../../../../../screen.scss";

.card-type-content, .card-type-content-update {
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

	.name {
		display: flex;
		font-size: 21px;
		gap: 10px;
		align-items: flex-end;

		.label {
			font-size: 16px;
			line-height: 25px;
			//height: 13px;
      color: var(--mat-theme-on-surface-variant);
		}
	}

  .update {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    @media (max-width: $breakpoint-md) {
      gap: 25px;
      flex-direction: column;

      mat-icon {
        transform: rotateZ(90deg)
      }
    }
  }
}
