.card-type-content, .card-type-content-update {
  min-height: 100px;
  display: flex;
  //justify-content: center;
  align-items: center;
  &.card-type-content {
    margin-left: 30px;
  }
  // &.card-type-content-update {
  //   margin-top: 24px;
  // }
  width: 100%;

	.name {
		display: flex;
		font-size: 21px;
		gap: 10px;
		align-items: flex-end;

		.label {
			font-size: 16px;
			line-height: 25px;
			//height: 13px;
      color: var(--mat-theme-on-surface-variant);
		}
	}

  .update {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .old {

    }
  }
}
