.card-type-content {
	margin: 24px 16px;

	.name {
		display: flex;
		font-size: 21px;
		gap: 10px;
		align-items: flex-end;

		.label {
			font-size: 13px;
			line-height: 21px;
			//height: 13px;
      color: var(--mat-theme-on-surface-variant);
		}
	}
}
