<mat-form-field class="card-type-selector" appearance="fill">
  <mat-label>Card-Type</mat-label>
  <input type="text"
    placeholder=""
    aria-label="Card-Type"
    matInput
    [formControl]="formControl"
    [errorStateMatcher]="errorStateMatcher"
    (blur)="markAsTouched()"
    [matAutocomplete]="auto">
  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="markAsTouched()"
    [displayWith]="displayFn"
    >
    @for (cardTypeOption of cardTypeOptions$ | async; track cardTypeOption) {
      <mat-option [value]="cardTypeOption">
        {{cardTypeOption.name}}
      </mat-option>
    }
  </mat-autocomplete>

  <mat-error>Card-Type is required</mat-error>
</mat-form-field>
