@import "../../../../screen.scss";

.card-list {
  margin: 30px 0;
  container-type: inline-size;

  .cards {
    --cols: 4;
    --gap: 20px;

    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    justify-content: space-evenly;
    .card {
      flex: 0 0 calc(
        (100% - (var(--cols) - 1) * var(--gap)) / var(--cols)
      );
      max-width: calc(
        (100% - (var(--cols) - 1) * var(--gap)) / var(--cols)
      );

      cc-card {
        width: 100%;
      }
    }
  }

  @container (max-width: 800px) {
    .cards { --cols: 3; }
  }

  @container (max-width: 550px) {
    .cards { --cols: 2; }
  }

  /* TODO(mdc-migration): The following rule targets internal classes of paginator that may no longer apply for the MDC version. */
  mat-paginator {
    margin-top: 30px;
  }

  .options {
    display: flex;
    gap: 30px;
    flex-direction: row;
    margin: 10px;
  }

  .loading, .empty {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $breakpoint-md) {
      height: 220px;
    }

    .empty-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      opacity: 0.6;
      color: var(--mat-sys-color-on-surface);

      p {
        font-size: 25px;
        margin: 0;

        @media (max-width: $breakpoint-md) {
          font-size: 20px;
        }
      }

      mat-icon {
        transform: scale(1.5);

        @media (max-width: $breakpoint-md) {
          transform: scale(1.2);
        }
      }
    }
  }
}
