@import "../../../../screen.scss";

.i-understand-dialog {
  margin: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
  height: 100%;

  .header {
    justify-content: flex-end;
  }

  .content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

		@media (max-width: $breakpoint-md) {
      margin-bottom: 80px;
    }

    .text {
      min-height: 100px;
      margin-bottom: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        color: var(--mat-sys-color-on-surface);
        font-size: 22px;
        margin: 20px 0;
        text-align: center;
      }

      .message {
        font-size: 25px;
      }
    }

    .understand {
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 20px;

      button {
        width: 100%;
        //flex: 1;
        min-height: 45px;
        font-size: 17px;
      }
    }
  }
}
