@import "../../../screen.scss";

.verify-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
	margin-top: 200px;

	.verify {
		display: flex;
    align-items: center;
		flex-direction: column;

		width: 400px;

		@media (max-width: $breakpoint-md) {
      width: 300px;
		}

		gap: 30px;
		padding: 30px;

    p {
      text-align: center;
      margin-top: 0;
    }
	}
}
