@import "../../../../../../../screen.scss";

.cards-wrap {
  margin: 30px 0;
  container-type: inline-size;

  .cards {
    --cols: 4;
    --gap: 20px;

    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    justify-content: space-evenly;
    .card {
      flex: 0 0 calc(
        (100% - (var(--cols) - 1) * var(--gap)) / var(--cols)
      );
      max-width: calc(
        (100% - (var(--cols) - 1) * var(--gap)) / var(--cols)
      );

      cc-card {
        width: 100%;
      }
    }
  }

  @container (max-width: 700px) {
    .cards { --cols: 3; }
  }

  @container (max-width: 500px) {
    .cards { --cols: 2; }
  }
}

.confirm {
  .line {
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
    position: absolute;
    width: 100%;
    div {
      position: relative;
      width: 45%;
      height: 1px;
      box-shadow: inset 0 1px 0 #373e47;
    }
  }

  button {
    display: flex;
    cursor: default;
    justify-content: center;
    margin: auto;
    transform: scale(2);
  }

  margin-top: 50px;
  height: 100px;
}
