@import "../../../../../../../screen.scss";

// .cards {
//   margin-top: 30px;
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   gap: 40px;
//   justify-content: center;
// }

.cards {
  margin-top: 30px;

  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: space-around;
  @media (max-width: $breakpoint-sm) {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }

  .card {
    display: flex;
    max-width: 300px;

    cc-card {
      width: 100%;
    }
  }
}

.confirm {
  .line {
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
    position: absolute;
    width: 100%;
    div {
      position: relative;
      width: 45%;
      height: 1px;
      box-shadow: inset 0 1px 0 #373e47;
    }
  }

  button {
    display: flex;
    cursor: default;
    justify-content: center;
    margin: auto;
    transform: scale(2);
  }

  margin-top: 50px;
  height: 100px;
}
