<ng-container *ngVar="(collector$ | async) as collector">
  @if (collector != null) {
    <div class="collector">
      <cc-collector-banner [editable]="false" [collector]="collector"></cc-collector-banner>
      <div class="wrap head">
        <div class="collector-image">
          <cc-collector-image [editable]="false" [collector]="collector"></cc-collector-image>
        </div>
        <div class="info">
          <div class="name-wrapper">
            <h2 class="name">{{collector.name}}</h2>
            <cc-collector-favorite [collectorId]="collector.id"></cc-collector-favorite>
          </div>

          <div class="description-wrapper" [class.expanded]="descriptionExpanded">
            <p class="description" ccRendered (rendered)="onDescriptionChange($event)">{{ collector.description }}</p>

            <!-- Fade + Show more button (collapsed only) -->
            <div class="fade-bar" *ngIf="showToggle && !descriptionExpanded">
              <button class="toggle-btn" (click)="descriptionExpanded = true">Show more</button>
            </div>

            <!-- Show less button (expanded only) -->
            <div class="show-less-wrapper" *ngIf="showToggle && descriptionExpanded">
              <button class="toggle-btn" (click)="descriptionExpanded = false">Show less</button>
            </div>
          </div>

          <div class="creator">
            <p class="owner">by </p>
            <cc-user [userId]="collector.userId"></cc-user>
          </div>
        </div>
      </div>
      <div class="wrap">
        <cc-tab-navigation [items]="navigationItems"></cc-tab-navigation>
        <router-outlet></router-outlet>
      </div>
    </div>
  }
</ng-container>
