@import "../../../screen.scss";

.collectors-wrapper {
  form {
    display: flex;
    gap: 30px;
    flex-direction: row;
    margin: 10px;
    align-items: center;

    // mat-form-field {
    //   width: min(100%, 400px);
    // }
    button {
      margin-bottom: 15px;
    }

  }

  .loading, .empty {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $breakpoint-md) {
      height: 220px;
    }

    .empty-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      opacity: 0.6;
      color: var(--mat-sys-color-on-surface);

      p {
        font-size: 25px;
        margin: 0;

        @media (max-width: $breakpoint-md) {
          font-size: 20px;
        }
      }

      mat-icon {
        transform: scale(1.5);

        @media (max-width: $breakpoint-md) {
          transform: scale(1.2);
        }
      }
    }
  }

  cc-loading {
    margin: 30px;
  }

	.collectors {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}
