<div class="collectors-wrapper wrap" *ngVar="(collectorIndexResponse$ | async) as res">
  <form [formGroup]="formGroup">
    <mat-form-field>
      <input matInput type="text" formControlName="search" placeholder="Search" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Sort</mat-label>
      <mat-select formControlName="sortType">
        @for (sortType of sortTypes; track sortType) {
          <mat-option [value]="sortType.value">
            {{sortType.text}}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <button class="new-collector" matButton="outlined" (click)="newCollector()">New</button>
  </form>
  @if (loading$ | async) {
    <div class="loading">
      <cc-loading [observable]="loading$" [boolObservable]="true"></cc-loading>
    </div>
  }
  @if (res != null && !(loading$ | async)) {
    @if (res.collectors.length > 0) {
      <div class="collectors">
        @for (collector of res.collectors; track collector) {
          <cc-collector-card [collector]="collector"></cc-collector-card>
        }
      </div>
    } @else {
      <div class="empty">
        <div class="empty-content">
          <mat-icon color="accent" svgIcon="credit_card_off"></mat-icon>
          <p>No collectors found</p>
        </div>
      </div>
    }
  }
  @if (res != null) {
    <mat-paginator [pageSize]="res.pageSize" [length]="res.collectorCount" (page)="changePage($event)"></mat-paginator>
  }
</div>
