.collectors-wrapper {
  form {
    width: 100%;
    display: flex;
    align-items: center;

    mat-form-field {
      width: min(100%, 400px);
    }

    button {
      margin-bottom: 15px;
    }
  }

	.loading {
		width: 100%;
    height: 300px;
		display: flex;
		justify-content: center;
	}

	.new-collector {
		margin-left: 30px;
	}

  cc-loading {
    margin: 30px;
  }

	.collectors {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}
