.yes-no-cancel-dialog {
	//width: 50vw;
  margin: 20px;
	min-width: 250px;
	max-width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;

	p {
		display: flex;
    color: var(--mat-sys-color-on-surface);
		justify-content: center;
		align-items: center;
		margin-top: 10px;
		margin-bottom: 15px;
		min-height: 50px;
	}

	.actions {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
    margin-top: 10px;

    button {
      width: 100%;
      flex: 1;
      min-height: 40px;
    }

    .yes-no {
      width: 100%;
      display: flex;
      gap: 30px;
      justify-content: space-around;
    }
	}
}
