@import "../../../../screen.scss";

.login-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
  height: calc(100vh - var(--header-height) * 2);
  justify-content: center;
	width: 100%;

	.login {
		display: flex;
		flex-direction: column;

		width: 400px;

		@media (max-width: $breakpoint-md) {
      width: 300px;
		}

		@media (max-width: $breakpoint-sm) {
      width: 250px;
		}

		gap: 30px;
		padding: 30px;

    .forgot-link {
      margin-top: -35px;
      font-size: 15px;
      text-decoration: none;
      color: var(--mat-sys-color-primary);
      font-weight: 500;
    }

    .forgot-link:hover {
      text-decoration: underline;
    }

		.error {
			display: flex;
			flex-direction: column;
			align-items: center;

			width: 100%;
		}
	}
}
