<div class="wrap">
  <div class="login-wrapper">
    <mat-card appearance="outlined">
      <form class="login" [formGroup]="formGroup" (submit)="login()">
        <mat-form-field >
          <input matInput type="text" formControlName="username" placeholder="Username/Email" />
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" formControlName="password" placeholder="Password" />
        </mat-form-field>
        <a class="forgot-link" routerLink="/forgot">Forgot password?</a>
        @if ((error$ | async); as error) {
          <div class="error">
            <mat-error>{{error}}</mat-error>
          </div>
        }
        <button matButton="outlined" type="submit" [disabled]="!formGroup.valid">Login</button>
      </form>
    </mat-card>
  </div>
</div>
