@if ((config$ | async); as config) {
  <div class="wrap">
    @if ((key$ | async); as key) {
      <div class="forgot-wrapper">
        @if ((formGroup$ | async); as formGroup) {
          <mat-card appearance="outlined">
            <form class="forgot" [formGroup]="formGroup" (ngSubmit)="reset(key, formGroup)">
              <mat-form-field>
                <input matInput type="password" formControlName="password" placeholder="Password"/>
                <mat-error>Password has to be {{config.password.minLength}}-{{config.password.maxLength}} characters</mat-error>
              </mat-form-field>
              <mat-form-field *ngVar="formGroup.controls.passwordRepeat as passwordRepeatFormControl">
                <input matInput type="password" formControlName="passwordRepeat" placeholder="Repeat Password" />
                @if (passwordRepeatFormControl.hasError('passwordNotSame')) {
                  <mat-error>Passwords do not match</mat-error>
                }
              </mat-form-field>
              @if ((error$ | async); as error) {
                <div class="error">
                  <mat-error>{{error}}</mat-error>
                </div>
              }
              <button matButton="outlined" type="submit" [disabled]="!formGroup.valid">Reset Password</button>
            </form>
          </mat-card>
        }
      </div>
    }
  </div>
}
