@import "../../../../../screen.scss";

.forgot-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
  height: calc(100vh - var(--header-height) * 2);
	width: 100%;
  justify-content: center;

	.forgot {
		display: flex;
		flex-direction: column;

		width: 400px;

		@media (max-width: $breakpoint-md) {
      width: 300px;
		}

		@media (max-width: $breakpoint-sm) {
      width: 250px;
		}

		gap: 30px;
		padding: 30px;
	}
}

.forgot-success-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
  height: calc(100vh - var(--header-height) * 2);
	width: 100%;
  justify-content: center;
}
