<div class="card-view" *ngVar="(card$ | async) as card">
  <button mat-icon-button class="back-button" (click)="goBack()" *ngIf="canGoBack()">
    <mat-icon color="accent" svgIcon="arrow_top_left"></mat-icon>
  </button>

  <div class="loading" *ngIf="loading$ | async">
    <cc-loading [observable]="loading$" [boolObservable]="true"></cc-loading>
  </div>

  @if (!(loading$ | async)) {
    @if (card != null) {
      <cc-card [card]="card"></cc-card>
    } @else {
      <div class="empty">
        <div class="empty-content">
          <mat-icon color="accent" svgIcon="credit_card_off"></mat-icon>
          <p>Card not found</p>
        </div>
      </div>
    }
  }
</div>
