@import "../../../../screen.scss";

.verify-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
  height: calc(100vh - var(--header-height) * 2);
  justify-content: center;
	width: 100%;

	.verify {
    position: relative;
		display: flex;
    justify-content: center;
    align-items: center;
    //background: var(--mat-sys-color-secondary);
    border-radius: 50%;

    aspect-ratio: 1 / 1;
		width: 400px;

		@media (max-width: $breakpoint-md) {
      width: 300px;
		}

		@media (max-width: $breakpoint-sm) {
      width: 250px;
		}

    .circle {
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
    }

    .center-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      pointer-events: none;
      color: var(--mat-sys-color-on-surface);
      gap: 30px;
      @media (max-width: $breakpoint-md) {
        gap: 20px;
      }

      p {
        font-size: 40px;

        @media (max-width: $breakpoint-md) {
          font-size: 30px;
        }

        margin: 0;
      }

      mat-icon {
        transform: scale(3);

        @media (max-width: $breakpoint-md) {
          transform: scale(2.5);
        }

        margin: 0;
      }
    }
  }
}
