.image-circle-wrapper {
	position: relative;
	width: 100%;
	height: 100%;

	.image-circle {
		width: 96%;
		height: 96%;

		border-radius: 50%;
		padding: 2%;
    background-color: var(--mat-sys-color-secondary);
		object-fit: cover;
	}

	.edit-button {
		position: absolute;
		left: 87%;
		top: 87%;
		transform: translate(-50%, -50%);
	}
}
