.mat-mdc-icon-button *{
	pointer-events: none !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
.mat-button-wrapper{
	pointer-events: none;
}
