@import '../../../../screen.scss';

.card-upgrade-wrapper {
  width: 100%;
  display: flex;
  height: calc(100vh - var(--header-height) - 14px); //NOTE: 10px is from wrap class, ca 4px for divider
  justify-content: center;
  overflow: hidden;

  .card-upgrade {
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-direction: row;
    @media (max-width: $breakpoint-xl) {
      flex-direction: column;
      margin: 0 30px;
    }

    .loading, .empty {
      height: 300px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: $breakpoint-md) {
        height: 220px;
      }

      .empty-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        opacity: 0.6;
        color: var(--mat-sys-color-on-surface);

        p {
          font-size: 25px;
          margin: 0;

          @media (max-width: $breakpoint-md) {
            font-size: 20px;
          }
        }

        mat-icon {
          transform: scale(1.5);

          @media (max-width: $breakpoint-md) {
            transform: scale(1.2);
          }
        }
      }
    }

    .card {
      display: flex;
      height: 100%;
      //width: 400px;
      padding: 20px 30px 0 30px;

      @media (max-width: $breakpoint-xl) {
        width: 100%;
        height: auto;
        padding: 20px 0 20px 0;
      }

      justify-content: center;
      align-items: center;

      .loading, .empty {
        height: auto;
      }

      cc-card {
        width: 250px;
      }
    }
    .cards-wrapper {
      display: flex;
      flex: 1;
      justify-content: center;
      //overflow: scroll;
      flex-direction: column;

      padding: 20px 30px 0 30px;

      cc-inventory {
        width: 100%;
      }

      /* TODO(mdc-migration): The following rule targets internal classes of paginator that may no longer apply for the MDC version. */
      mat-paginator {
        margin-top: 30px;
      }
    }

    mat-divider {
      margin: 10px 0;
    }
  }
}
