@import '../../../../screen.scss';

.card-upgrade-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;

  .card-upgrade {
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-direction: row;
    @media (max-width: $breakpoint-xl) {
      flex-direction: column;
      margin: 0 30px;
    }

    .loading, .empty {
      height: 300px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: $breakpoint-md) {
        height: 220px;
      }

      .empty-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        opacity: 0.6;
        color: var(--mat-sys-color-on-surface);

        p {
          font-size: 25px;
          margin: 0;

          @media (max-width: $breakpoint-md) {
            font-size: 20px;
          }
        }

        mat-icon {
          transform: scale(1.5);

          @media (max-width: $breakpoint-md) {
            transform: scale(1.2);
          }
        }
      }
    }

    .card {
      display: flex;
      flex-basis: 450px;
      flex-grow: 0;
      flex-shrink: 0;
      justify-content: center;
      align-items: center;
      //height: 800px;
      height: 80vh;

      .loading, .empty {
        height: auto;
      }

      cc-card {
        position: fixed;
        margin-top: 165px;
        @media (max-width: $breakpoint-xl) {
          position: relative;
          margin-top: 30px;
        }
      }
    }
    .cards-wrapper {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;

      @media (min-width: $breakpoint-xl) {
        margin: 30px 70px 0 70px;
      }

      .cards {
        display: flex;
        flex-grow: 2;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
      }
      /* TODO(mdc-migration): The following rule targets internal classes of paginator that may no longer apply for the MDC version. */
      mat-paginator {
        margin-top: 30px;
      }
    }

    mat-divider {
      margin: 10px 0;
    }
  }
}
