@import "../../../../screen.scss";

.banner {
	width: 100%;
	height: 200px;
	background: red;
	object-fit: cover;
}

.head {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: 20px;
	margin-top: 20px;
  margin-bottom: 20px;

	cc-collector-favorite {
		//NOTE: not center otherwise
		margin-top: 3px;
		transform: scale(1.6);
		@media (max-width: $breakpoint-md) {
			margin-top: 0px;
			transform: scale(1.2);
		}
	}

	.collector-image {
		margin-top: -70px;
		width: 150px;
		height: 150px;
	}

  .info-card {
    width: 100%;
    margin-top: 20px;
    padding: 20px;

    .info {
      display: flex;
      flex-direction: column;
      gap: 20px;

      width: 100%;

      mat-form-field {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .moderator-card {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    cc-collector-moderator-editor {
      width: 100%;
    }
  }

	.description {
    color: var(--mat-sys-color-on-surface-variant);
	}
}
