@import "../../../../screen.scss";

.banner {
	width: 100%;
	height: 200px;
	background: red;
	object-fit: cover;
}

.head {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: 20px;
	margin-top: 20px;
	margin-left: 50px;

	cc-collector-favorite {
		//NOTE: not center otherwise
		margin-top: 3px;
		transform: scale(1.6);
		@media (max-width: $breakpoint-md) {
			margin-top: 0px;
			transform: scale(1.2);
		}
	}

	.collector-image {
		margin-top: -70px;
		width: 150px;
		height: 150px;
	}

	.info {
    display: flex;
    flex-direction: column;
    gap: 20px;

		margin-left: 5px;
    width: calc(100% - 300px);

    @media (max-width: $breakpoint-sm) {
      margin-top: 20px;
      width: 100%;
      margin-right: 50px;
    }

    mat-form-field {
      display: flex;
      flex-direction: column;
    }
  }

	.description {
    color: var(--mat-sys-color-on-surface-variant);
	}
}
