.collector-add {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.collector-add .header {
  flex: 0 0 auto;
  padding: 30px 30px 0 30px;
  margin-bottom: 30px;
}

.collector-add mat-tab-group {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

::ng-deep .collector-add mat-tab-group mat-tab-header {
  margin: 0 30px;
}
