<div class="collector-add">
  <mat-toolbar class="header">
    <p>Create Request</p>
    <button mat-icon-button (click)="cancel()">
      <mat-icon color="accent" svgIcon="close"></mat-icon>
    </button>
  </mat-toolbar>
	<mat-tab-group mat-stretch-tabs>
		<mat-tab label="Card">
			<cc-collector-add-card [collectorId]="collectorId" (onClose)="close()"></cc-collector-add-card>
		</mat-tab>
		<mat-tab label="Type">
			<cc-collector-add-card-type [collectorId]="collectorId" (onClose)="close()"></cc-collector-add-card-type>
		</mat-tab>
	</mat-tab-group>
</div>
