@if(card$ | async; as c) {
  <div class="card" [style.cursor]="(click !== 'none' || turn) ? 'pointer' : 'unset'" (click)="onClick(c)" [style.filter]="suggestion === true ? 'grayscale(70%)' : 'none'">
    <div class="card-container" [class.turn]="turn">
      <div class="card-front">
        <div class="card-inner">
          @if (effectImage$ | async; as effectImage) {
            <img class="card-effect" [src]="effectImage" alt="Card Effect"/>
          }
          @if (image$ | async; as image) {
            <img [src]="image" alt="Card Image"/>
          }
        </div>
        <div class="card-frame">
          @if (level$ | async; as level) {
            <div class="level">{{level}}</div>
          }
          @if (quality$ | async; as quality) {
            <div class="quality">{{quality}}</div>
          }
          <div class="card-name" *ngIf="name$ | async as name">
            <div [fittext]="true" [activateOnResize]="true" [activateOnInputEvents]="true" [modelToWatch]="name" [minFontSize]="1">{{name}}</div>
          </div>

          <div class="card-type-name" *ngIf="type$ | async as type">
            <div [fittext]="true" [activateOnResize]="true" [activateOnInputEvents]="true" [modelToWatch]="type">{{type}}</div>
          </div>

          <img class="frame-front" [src]="frameFront$ | async" alt="Card Frame Front" />
        </div>
      </div>
      <div class="card-back">
        <div class="card-frame">
          <img class="frame-back" [src]="frameBack$ | async" alt="Card Frame Back" />
        </div>
      </div>
    </div>
  </div>
}
