.card{
  display: flex;
  width: 100%;
  .card-container{
    position: relative;
    width: 100%;
    // max-width: 300px; // optional cap
    // min-width: 250px; // prevents shrinking too much
    // flex: 1 1 300px;
    // max-width: 300px;
    //min-width: 200px;
    //width: 300px;
    //aspect-ratio: 330 / 516;
    aspect-ratio: 312 / 457;
    //margin: 10%;

    .card-front {
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 1s ease;
      transform: rotateY(0deg);
      backface-visibility: hidden;
    }

    .card-back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: transform 1s ease;
      transform: rotateY(-180deg);
      backface-visibility: hidden;
    }
    backface-visibility: hidden;
    .card-inner{
      position: absolute;
      top: 8%;
      left: 11%;
      width: 78%;
      height: 83%;
    }
    .card-frame{
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    .card-inner img, .card-frame img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      aspect-ratio: 330 / 516;
      object-fit: cover;
    }
    .card-effect{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .card-type-name, .card-name{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      //width: 50%;
      width: 46%;
      height: 7%;
      flex-shrink: 0;
      color: black;
      z-index: 1;
      font-size: 15px; //NOTE: will resize, start with reasonable size to make change less noticable
      div {
        text-align: center;
      }
      &.card-name{
        margin-top: 3%;
        //margin-left: 22%;
        margin-left: 25%;
      }
      &.card-type-name{
        margin-top: auto;
        margin-bottom: 4%;
        margin-left: 34%;
      }
    }
    .level {
      position: absolute;
      width: 10%;
      color: #FFD700;
      top: -3%;
      left: 0;
      z-index: 1;
      font-size: 40px; //NOTE: will resize, start with reasonable size to make change less noticable
    }
    .quality {
      position: absolute;
      width: 10%;
      color: #C0C0C0;
      top: -3%;
      right: 0;
      z-index: 1;
      font-size: 40px; //NOTE: will resize, start with reasonable size to make change less noticable
    }

    &.turn {
      .card-front {
        transition: transform 1s ease;
        transform: rotateY(180deg);
      }

      .card-back {
        transition: transform 1s ease;
        transform: rotateY(0deg);
      }

      //transform: rotateY(180deg);
      // .card-inner {
      //     transform: rotateY(180deg);
      // }
      // .card-frame {
      //   .frame-back {
      //     transform: rotateY(180deg);
      //   }
      // }

      //   .frame-front {
      //     transform: rotateY(180deg);
      //   }

      //   .level {
      //     transform: rotateY(180deg);
      //   }

      //   .quality {
      //     transform: rotateY(180deg);
      //   }
      //   .card-text {
      //     transform: rotateY(180deg);
      //   }
      // }
    }
  }
}
