@import "../../../../screen.scss";

.collector {
	display: flex;
	flex-direction: row;
	gap: 15px;
	//padding: 20px;
	cursor: pointer;

  @media (max-width: $breakpoint-md) {
	  gap: 10px;
  }

  .trade {
    display: flex;
    margin-left: auto;
    padding-left: 5px;
    margin-right: 40px;
    align-items: center;

    mat-icon {
      transform: scale(1.6);

      @media (max-width: $breakpoint-md) {
        transform: scale(1.3);
      }
    }

    @media (max-width: $breakpoint-md) {
      margin-right: 25px;
    }
  }

	.collector-image {
		width: 70px;
		height: 70px;
    flex-shrink: 0;
    padding: 15px 0 15px 15px;

    @media (max-width: $breakpoint-md) {
      width: 50px;
      height: 50px;
      padding: 10px 0 10px 10px;
    }
	}

  .title {
    font-size: 22px;
    line-height: 25px;
    padding-top: 15px;

    @media (max-width: $breakpoint-md) {
      padding-top: 10px;
      font-size: 15px;
      line-height: 17px;
    }
  }

  .description-wrapper {
    position: relative;
    //max-height: 63px;
    max-height: 40px;
    @media (max-width: $breakpoint-md) {
      max-height: 30px;
    }

    overflow: hidden;
    //margin-top: 5px;
    margin-top: 3px;

    .description {
      margin: 0;
      white-space: pre-wrap;
      color: var(--md-sys-color-on-surface-variant);
      opacity: 0.75;
      font-size: 14px;
      line-height: 14px;

      @media (max-width: $breakpoint-md) {
        font-size: 10px;
        line-height: 11px;
      }
    }

    .fade-bar {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 30px;
      display: flex;
      //justify-content: center; /* center horizontally */
      //align-items: flex-end;
      padding-bottom: 10px;

      @media (max-width: $breakpoint-md) {
        height: 15px;
        padding-bottom: 5px;
      }

      background: linear-gradient(
        to top,
        var(--mat-sys-color-background) 0%,   /* solid bottom for button */
        rgba(255, 255, 255, 0) 100%           /* fade to transparent */
      );
    }
  }
}
