@import "../../../../screen.scss";

.collector {
	display: flex;
	flex-direction: row;
	gap: 30px;
	padding: 20px;
	cursor: pointer;

  @media (max-width: $breakpoint-sm) {
	  gap: 15px;
  }

  .title {
    font-size: 25px;

    @media (max-width: $breakpoint-sm) {
      font-size: 18px;
      line-height: 20px;
    }
  }

	.collector-image {
		width: 100px;
		height: 100px;
    flex-shrink: 0;

    @media (max-width: $breakpoint-sm) {
      width: 70px;
      height: 70px;
    }
	}

  .trade {
    display: flex;
    margin-left: auto;
    padding-left: 5px;
    margin-right: 40px;
    align-items: center;

    mat-icon {
      transform: scale(2.3);

      @media (max-width: $breakpoint-sm) {
        transform: scale(1.8);
      }
    }

    @media (max-width: $breakpoint-sm) {
      margin-right: 20px;
    }
  }

  .description-wrapper {
    position: relative;
    max-height: 63px;
    @media (max-width: $breakpoint-sm) {
      max-height: 47px;
    }

    overflow: hidden;
    margin-top: 5px;

    .description {
      margin: 0;
      white-space: pre-wrap;
      color: var(--md-sys-color-on-surface-variant);
      opacity: 0.7;
      font-size: 15px;
      line-height: 17px;

      @media (max-width: $breakpoint-sm) {
        font-size: 11px;
        line-height: 12px;
      }
    }

    .fade-bar {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 5px;
      display: flex;
      //justify-content: center; /* center horizontally */
      //align-items: flex-end;
      padding-bottom: 10px;
      background: linear-gradient(
        to top,
        var(--mat-sys-color-background) 0%,   /* solid bottom for button */
        rgba(255, 255, 255, 0) 100%           /* fade to transparent */
      );
    }
  }
}
