<mat-card appearance="outlined" class="collector" (click)="collectorClick()">
  <div class="collector-image">
    <cc-collector-image [editable]="false" [collector]="collector"></cc-collector-image>
  </div>
  <div>
    <mat-card-title class="title">{{collector.name}}</mat-card-title>
    <mat-card-subtitle>
      <div class="description-wrapper">
        <p class="description" ccRendered (rendered)="onDescriptionChange($event)">{{ collector.description }}</p>

        <div class="fade-bar" *ngIf="descriptionOverflows"></div>
      </div>
    </mat-card-subtitle> <!-- TODO: long description formatting -->
    <!--<mat-card-subtitle>...stats...</mat-card-subtitle>!-->
  </div>
  @if (tradeId != null) {
    <div class="trade" (click)="tradeClick()">
      <mat-icon color="accent" svgIcon="compare_arrows"></mat-icon>
    </div>
  }
</mat-card>
