<div *ngVar="tradeInfo$ | async as tradeInfo">
  <div>
    <cc-loading [observable]="tradeInfo$" class="loading"></cc-loading>
    @if (tradeInfo != null) {
      <div class="cards-wrap">
        <div class="cards">
          @for (selfCard of tradeInfo.selfCards; track selfCard) {
            <div class="card">
              <cc-card [card]="selfCard" click="event" (clickEvent)="removeCard(selfCard)"></cc-card>
            </div>
          }
          @for (friendCardSuggestion of tradeInfo.friendCardSuggestions; track friendCardSuggestion) {
            <div class="card">
              <cc-card [card]="friendCardSuggestion" click="event" (clickEvent)="acceptSuggestion(friendCardSuggestion)" [suggestion]="true"></cc-card>
            </div>
          }
        </div>
      </div>
    }
  </div>
  <div class="confirm" *ngVar="confirmed$ | async as confirmed">
    <div class="line">
      <div></div>
      <div></div>
    </div>
    @if (confirmed === true) {
      <button color="primary" mat-icon-button>
        <mat-icon color="accent" svgIcon="check"></mat-icon>
      </button>
    }
    @if (confirmed === false && tradeInfo != null) {
      <button color="error" mat-icon-button matTooltip="Confirm" aria-label="Confirm" [disabled]="tradeInfo.friendCardSuggestions.length > 0" (click)="confirm()">
        <mat-icon color="accent" svgIcon="close"></mat-icon>
      </button>
    }
  </div>
  <button [disabled]="disableAdd$ | async" class="floating-button-br" mat-fab aria-label="Add" (click)="openAddCard()">
    <mat-icon color="accent" svgIcon="add"></mat-icon>
  </button>
</div>
