@import "../../../../../../screen.scss";

.friend-status {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 30px;

  @media (max-width: $breakpoint-sm) {
    gap: 25px;
    margin-right: 10px;
  }

  button {
    transform: scale(1.7);
    @media (max-width: $breakpoint-sm) {
      transform: scale(1.3);
    }
  }
  .sent {
    margin-right: 20px;
    transform: scale(1.6);
    @media (max-width: $breakpoint-sm) {
      margin-right: 10px;
      transform: scale(1.2);
    }
  }
}
