@import "../../../../../../screen.scss";

.user {
	display: flex;
	flex-direction: row;
	gap: 30px;
	padding: 20px;
	cursor: pointer;

  @media (max-width: $breakpoint-sm) {
	  gap: 15px;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    mat-card-title {
      font-size: 25px;

      @media (max-width: $breakpoint-sm) {
        font-size: 18px;
        line-height: 20px;
      }
    }
  }

	.user-image {
		width: 100px;
		height: 100px;

    @media (max-width: $breakpoint-sm) {
      width: 70px;
      height: 70px;
    }
	}

  .friend-status {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 30px;

    @media (max-width: $breakpoint-sm) {
      gap: 25px;
      margin-right: 10px;
    }

    button {
      transform: scale(1.7);
      @media (max-width: $breakpoint-sm) {
        transform: scale(1.3);
      }
    }
    .sent {
      margin-right: 20px;
      transform: scale(1.6);
      @media (max-width: $breakpoint-sm) {
        margin-right: 10px;
        transform: scale(1.2);
      }
    }
  }
}
