<ng-container *ngVar="(isSelf$ | async) as isSelf">
  @if ((friendResponse$ | async); as friendResponse) {
    @if (friendResponse.status === FriendStatus.Friend || isSelf) {
      <cc-user-card click="navigate" [user]="friendResponse.user">
        @if (friendResponse.status === FriendStatus.Pending && isSelf) {
          <div class="friend-status">
            <button color="primary" mat-icon-button (click)="acceptFriend($event, friendResponse.user.id)">
              <mat-icon color="accent" svgIcon="check"></mat-icon>
            </button>
            <button color="error" mat-icon-button matTooltip="Confirm" aria-label="Confirm" (click)="declineFriend($event, friendResponse.user.id)">
              <mat-icon color="accent" svgIcon="close"></mat-icon>
            </button>
          </div>
        }
        @if (friendResponse.status === FriendStatus.Sent) {
          <div class="friend-status" (click)="stopPropagation($event)">
            <mat-icon class="sent" color="accent" svgIcon="hourglass_empty"></mat-icon>
          </div>
        }
      </cc-user-card>
    }
  }
</ng-container>
