@import "../../../../screen.scss";

.new-collector-wrapper {
  height: 100%;
  //width: 100%;

  margin: 30px;
  margin-top: 30px;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;

	form {
		width: 100%;
    height: 100%;
		display: flex;
		flex-direction: column;
    justify-content: center;
		gap: 20px;

		@media (max-width: $breakpoint-md) {
      gap: 30px;
      margin-bottom: 80px;
    }

		.error {
			display: flex;
			flex-direction: column;
			align-items: center;

			width: 100%;
		}

    button {
      height: 50px;
    }
	}
}
