.new-collector-wrapper {
  margin: 30px;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;

	form {
		width: 250px;
		display: flex;
		flex-direction: column;
		gap: 20px;

		.error {
			display: flex;
			flex-direction: column;
			align-items: center;

			width: 100%;
		}
	}
}
