<!-- <cc-loading-spinner *ngIf="loading$ | async"></cc-loading-spinner> TODO-->
@if (formGroup$ | async; as formGroup) {
  @if (config$ | async; as config) {
    <div class="new-collector-wrapper">
      <mat-toolbar class="header">
        <p>Create Collector</p>
        <button mat-icon-button (click)="dialogRef.close()">
          <mat-icon color="accent" svgIcon="close"></mat-icon>
        </button>
      </mat-toolbar>
      <form [formGroup]="formGroup" (submit)="onCreate(formGroup)">
        <mat-form-field appearance="outline">
          <input matInput type="text" formControlName="name" placeholder="Name" />
          <mat-error>Name has to be {{config.name.minLength}}-{{config.name.maxLength}} characters</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput rows="4" formControlName="description"></textarea>
          <mat-error>Description has to be {{config.description.minLength}}-{{config.description.maxLength}} characters</mat-error>
        </mat-form-field>

        <div *ngIf="(error$ | async) as error" class="error">
          @if (error != null) {
            <mat-error>{{error}}</mat-error>
          }
        </div>
        <button matButton="outlined" type="submit" [disabled]="!formGroup.valid">Create</button>
      </form>
    </div>
  }
}
