<div *ngVar="(usersResponse$ | async) as usersResponse">
  <form [formGroup]="formGroup" class="search">
    <mat-form-field class="search-field">
      <input matInput type="text" formControlName="search" placeholder="Search" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Sort Type</mat-label>
      <mat-select formControlName="sortType">
        @for (sortType of sortTypes; track sortType) {
          <mat-option [value]="sortType.value">
            {{sortType.text}}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form>
  @if (loading$ | async) {
    <div class="loading">
      <cc-loading [observable]="loading$" [boolObservable]="true"></cc-loading>
    </div>
  }
  @if (usersResponse != null && !(loading$ | async)) {
    @if (usersResponse.users.length > 0) {
      <div class="user-wrap">
        @for (user of usersResponse.users; track user) {
          <cc-user-card [click]="click" (onClick)="onClick.emit($event)" [user]="user"></cc-user-card>
        }
      </div>
    } @else {
      <div class="empty">
        <div class="empty-content">
          <mat-icon color="accent" svgIcon="group_off"></mat-icon>
          <p>No users found</p>
        </div>
      </div>
    }
  }
  @if (usersResponse != null) {
    <mat-paginator [length]="usersResponse.userCount" [pageSize]="usersResponse.pageSize" (page)="changePage($event)"></mat-paginator>
  }
</div>
