mat-drawer-container {
	width: 100%;
	height: 100%;

	.container {
		box-sizing: border-box;
		overflow-y: scroll;
		min-height: 100%;
	}
}

.sidenav {
	padding: 2px;
	border-right: 0px;

  .routes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    button {
      display: flex;
      justify-content: start;
      width: 200px;
      padding: 8px;
      padding-left: 15px;

      color: var(--mat-sys-color-on-surface) !important;

      .button-content {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
      }
    }
  }
}
