<div class="card-view" *ngVar="(unlockedCard$ | async) as unlockedCard">
  @if (canGoBack()) {
    <button mat-icon-button class="back-button" (click)="goBack()">
      <mat-icon color="accent" svgIcon="arrow_top_left"></mat-icon>
    </button>
  }

  @if (loading$ | async) {
    <div class="loading">
      <cc-loading [observable]="loading$" [boolObservable]="true"></cc-loading>
    </div>
  }

  @if (!(loading$ | async)) {
    @if (unlockedCard != null) {
      <div class="card">
        <cc-card [turn]="!!(turn$ | async)" [card]="unlockedCard"></cc-card>
      </div>
    } @else {
      <div class="empty">
        <div class="empty-content">
          <mat-icon color="accent" svgIcon="credit_card_off"></mat-icon>
          <p>Card not found</p>
        </div>
      </div>
    }
  }
</div>
