@import "../../../../screen.scss";

.profile-wrapper {
	margin-top: 30px;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;

	.profile {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;

		cc-profile-image {
			height: 200px;
			width: 200px;
      margin-bottom: 10px;

      @media (max-width: $breakpoint-sm) {
        height: 150px;
        width: 150px;
      }
		}

    .username {
      margin: 0;
      font-size: 50px;

      @media (max-width: $breakpoint-sm) {
        font-size: 35px;
      }
    }
	}
}
