@import "../../../../screen.scss";

.user {
	display: flex;
	flex-direction: row;
	gap: 15px;
	padding: 15px;
	cursor: pointer;

  @media (max-width: $breakpoint-md) {
    padding: 10px;
	  gap: 10px;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--mat-sys-color-on-surface);

    mat-card-title {
      font-size: 18px;

      @media (max-width: $breakpoint-md) {
        font-size: 18px;
      }
    }
  }

	.user-image {
		width: 60px;
		height: 60px;

    @media (max-width: $breakpoint-md) {
      width: 50px;
      height: 50px;
    }
	}
}
