@import "../../../../../../../screen.scss";

.card-create, .card-update {
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  cc-card {
    width: 250px;
  }

  .update {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .old, .new {
      display: flex;
    }

    @media (max-width: $breakpoint-md) {
      gap: 25px;
      flex-direction: column;
      margin: 30px 0;

      mat-icon {
        transform: rotateZ(90deg)
      }
    }
  }
}
