@import "../../../../../../../screen.scss";

.card-create, .card-update {
  margin-top: 20px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .update {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    @media (max-width: $breakpoint-md) {
      gap: 25px;
      flex-direction: column;

      mat-icon {
        transform: rotateZ(90deg)
      }
    }
  }
}
