.user {
	display: flex;
	flex-direction: row;
	gap: 30px;
	padding: 20px;
	cursor: pointer;

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    mat-card-title {
      font-size: 25px;
    }
  }

	.user-image {
		width: 100px;
		height: 100px;
	}
}
